div.rst-versions > div.rst-other-versions > div.injected > dl:nth-child(4) {
    display: none;
}
.wy-nav-content {
   max-width: none;
}
.wy-side-nav-search {
  background-color: #272525;
}
.wy-nav-top {
  background-color: #272525;
}
.rst-content table.docutils td, .wy-table-bordered-all td { vertical-align: top; }

readthedocs-flyout {
  display: none;
}

.floating.container.bottom-right {
  display: none;
}
